<ul class="catmore" id="heightToggle">
    <li>
        <a href="/current-affairs/monthly-1483099181-catlistshow-1"><span>Latest </span></a>
    </li>
    <li>
        <a href="/current-affairs/national-india-1283851987-catlistshow-1"><span>National </span></a>
    </li>
    <li>
        <a href="/current-affairs/international-world-1283850903-catlistshow-1"><span>International </span></a>
    </li>
    <li>
        <a href="/current-affairs/sports-1286371683-catlistshow-1"><span>Sports </span></a>
    </li>
    <li>
        <a href="/current-affairs/science-and-technology-1286444078-catlistshow-1"><span>Technology </span></a>
    </li>
    <li>
        <a href="/current-affairs/economy-1284037727-catlistshow-1"><span>Economy </span></a>
    </li>
    <li>
        <a href="/current-affairs/environment-and-ecology-1286444215-catlistshow-1"><span>Environment Ecology
            </span></a>
    </li>
    <li>
        <a href="/current-affairs/exam-specific-current-affairs-1448012491-catlistshow-1"><span>Exam Specific
            </span></a>
    </li>
    <li>
        <a href="/current-affairs/current-affairs-videos-1392012951-catlistshow-1"><span> Video</span></a>
    </li>
    <li>
        <a href="/current-affairs/news-capsule-1284026861-catlistshow-1"><span>News Capsule</span></a>
    </li>
    <li>
        <a href="/current-affairs/hindi-current-affairs"><span>Hindi</span></a>
    </li>
    <li>
        <a href="/current-affairs/test-quizzes-1422004797-catlistshow-1"><span>Quiz</span></a>
    </li>
</ul>